# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
# Secret used by Better Auth
BETTER_AUTH_SECRET="your_better_auth_secret_here"

# Better Auth Google OAuth
BETTER_AUTH_GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
BETTER_AUTH_GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Drizzle
DATABASE_URL="postgresql://username:password@localhost:5432/your_database_name"


BETTER_AUTH_URL=http://localhost:3000


CORSAIR_KEK="your_corsair_key_encryption_key_here"


INNGEST_DEV=1

APP_URL=http://localhost:3000



OPENAI_API_KEY="sk-your-openai-api-key"
RESEND_API_KEY="re_your-resend-api-key"
GOOGLE_PUBSUB_TOPIC_ID="projects/your-project/topics/your-topic"
PORT=3000
